:root{
    --main-color--: #ff6f61;
    --color-fondo--:#333333;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

header {
    background-color: var(--color-fondo--);
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 95vw;
    border-radius: 10px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: var(--main-color--);
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}


/****************** CONTENEDOR PRINCIPAL ***************/

.contenedorPrincipal{
    background-color: #fff;
    width: 95vw;
    height: 80vh;
    border-radius: 10px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
    scrollbar-width: thin; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.contenedorPrincipal::-webkit-scrollbar {
    width: 9px;
}
.contenedorPrincipal::-webkit-scrollbar-thumb {
    background-color: #909090; 
    border-radius: 6px;
}
.contenedorPrincipal::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
.contenedorPrincipal::-webkit-scrollbar-corner {
    background-color: #ccc;
}
.contenedorPrincipal::-moz-scrollbar-thumb {
    background-color: #909090; 
    border-radius: 6px;
}
.contenedorPrincipal::-moz-scrollbar-track {
    background-color: #f1f1f1;
}

.contenedorPrincipal::-moz-scrollbar-corner {
    background-color: #ccc; /* Color del contenedor de la esquina de la barra de desplazamiento en Firefox */
}

/****************** BUSCADOR ***************/
.contenedorFiltros{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border: 1px #909090 solid;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-fondo--);
    color: #fff;
}

.titulo{
    width: 100%;
    color: var(--main-color--);
}
.titulo p{
    font-size: 1rem;
    margin-bottom: 0;
}
.titulo p span{
    margin-right: 0.7rem;
    font-size: 1rem;
}

.formulario{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.campoFormulario{
    width: 25%;
}
.campoFormulario p{
    font-size: 0.9rem;
}
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none; 
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
}
select::-webkit-scrollbar {
    width: 8px;
}
select::-webkit-scrollbar-thumb {
    background-color:  var(--main-color--);
    border-radius: 4px;
}
select:focus {
    outline: none;
    border-color:  var(--main-color--);
    box-shadow: 0 0 5px  var(--main-color--);
}

.boton {
    display: flex;
    padding: 0 20px;
    background-color: var(--main-color--);
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    cursor: pointer;
}
.boton:hover {
    background-color: transparent;
    color: var(--main-color--);
    border: 1px solid var(--main-color--);
}
.boton p{
    font-size: 0.9rem;
}
/****************** CONTENEDOR GRAFICOS ***************/

.contenedorGraficos{
    width: 95%;
    background-color: var(--color-fondo--);
    border-radius: 10px;
    border: 1px #909090 solid;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/****************** GRAFICO ***************/
.grafico{
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    color: var(--color-fondo--);
    padding: 1rem;
}
.tituloGrafico{
    color: var(--main-color--);
    font-weight: bold;
    font-size: 1.5rem;
}

/****************** LOADER ***************/
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #000000bf;
}

/* Estilos para el loader */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--main-color--);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animación de rotación */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}